<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="~{components/fragments :: head('Attendance Statistics')}">
    <title></title>
</head>

<body>
<div id="app">
    <div th:replace="~{components/fragments :: sidebar}"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Attendance Statistics</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item">Statistics</li>
                                <li class="breadcrumb-item active" aria-current="page">Detailed</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row mb-3 d-flex justify-content-sm-between">
                <div class="col-md-4">
                    <select id="employee-picker" class="form-select" aria-label="Default select example" required>
                        <option value="" selected disabled>Select an Employee</option>
                        <option th:each="employee : ${employees}"
                                th:value="${employee.employeeId}"
                                th:text="${employee.name}"
                                th:selected="${employee.employeeId == selectedEmployee}">Employee
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="month-picker" class="form-select" aria-label="Default select example">
                        <option value="" selected disabled>Select Month</option>
                        <option th:each="month, iterStat : ${months}"
                                th:value="${iterStat.index + 1}"
                                th:text="${month}"
                                th:selected="${iterStat.index + 1 == selectedMonth}">Month
                        </option>
                    </select>
                </div>
                <!--<div class="col-md-4">
                    <select id="year-picker" class="form-select" aria-label="Default select example" required>
                        <option value="" selected disabled>Select Year</option>
                        <option th:each="year : ${years}"
                                th:value="${year}"
                                th:text="${year}">Year
                        </option>
                    </select>
                </div>-->
                <div class="col-md-4 justify-content-end">
                    <a href="#" class="btn icon icon-left btn-primary">
                        <i class="bi bi-funnel-fill"></i>
                        Filter</a>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4>Yearly Statistic</h4>
                    </div>
                    <div class="card-body">
                        <div id="yearly-statistic"></div>
                    </div>
                </div>
            </section>
        </div>

        <div th:replace="~{components/fragments :: footer}"></div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var detailedStatistics = /*[[${detailedStatistics}]]*/ [];
    /*]]>*/
</script>

<div th:replace="~{components/fragments :: js-libraries}"></div>
<script>
    console.log(detailedStatistics);
    var barOptions = {
        series: [
            {
                name: "Late days",
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            },
            {
                name: "Early departure",
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            },
            {
                name: "Absence days",
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            },
        ],
        chart: {
            type: "bar",
            height: 350,
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: "55%",
                endingShape: "rounded",
            },
        },
        dataLabels: {
            enabled: false,
        },
        stroke: {
            show: true,
            width: 2,
            colors: ["transparent"],
        },
        xaxis: {
            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        },
        yaxis: {
            title: {
                text: "times",
            },
        },
        fill: {
            opacity: 1,
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val + " times";
                },
            },
        },
    };
    var yearlyStatistic = new ApexCharts(document.querySelector("#yearly-statistic"), barOptions);
    yearlyStatistic.render();

    if (detailedStatistics.length > 0) {
        let lateDaysData = Array(12).fill(0);
        let earlyDepartureData = Array(12).fill(0);
        let absenceDaysData = Array(12).fill(0);

        detailedStatistics.forEach(item => {
            lateDaysData[item.month - 1] = item.lateDays;
            earlyDepartureData[item.month - 1] = item.leaveEarlyDays;
            absenceDaysData[item.month - 1] = item.unpaidLeaveDays + item.paidLeaveDays;
        });

        yearlyStatistic.updateSeries([
            {
                name: "Late days",
                data: lateDaysData,
            },
            {
                name: "Early departure",
                data: earlyDepartureData,
            },
            {
                name: "Absence days",
                data: absenceDaysData,
            }
        ]);
    }

    $(document).ready(function () {
        $('.btn.icon-left.btn-primary').on('click', function (event) {
            event.preventDefault();
            const employeeId = $('#employee-picker').val();
            const year = $('#year-picker').val();
            if (!employeeId || !year) {
                alert("Please select an employee and a year before filtering.");
                return;
            }
            $.ajax({
                url: '/v1/api/attendance/statistics',
                method: 'GET',
                data: {
                    employeeId: employeeId,
                    year: year
                },
                success: function (response) {
                    let lateDaysData = Array(12).fill(0);
                    let earlyDepartureData = Array(12).fill(0);
                    let absenceDaysData = Array(12).fill(0);

                    response.forEach(item => {
                        lateDaysData[item.month] = item.lateDays;
                        earlyDepartureData[item.month] = item.leaveEarlyDays;
                        absenceDaysData[item.month] = item.unpaidLeaveDays + item.paidLeaveDays;
                    });
                    yearlyStatistic.updateSeries([
                        {
                            name: "Late days",
                            data: lateDaysData,
                        },
                        {
                            name: "Early departure",
                            data: earlyDepartureData,
                        },
                        {
                            name: "Absence days",
                            data: absenceDaysData,
                        }
                    ]);
                },
                error: function (error) {
                    console.log('Error fetching data:', error);
                    alert('There was an error retrieving the data.');
                }
            });
        });
    });
</script>
</body>

</html>
