<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="~{components/fragments :: head('OT Management')}">
    <title></title>
</head>

<body>
<div id="app">
    <div th:replace="~{components/fragments :: sidebar}"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Register for OT</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item">OT</li>
                                <li class="breadcrumb-item active" aria-current="page">Register for OT</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section id="basic-horizontal-layouts">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">OT Registration Form</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>First Name</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <select id="employee-picker" class="form-select" aria-label="Default select example" required>
                                                    <option value="" selected disabled>Select an Employee</option>
                                                    <option th:each="employee : ${employees}"
                                                            th:value="${employee.employeeId}"
                                                            th:text="${employee.name}">Employee
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Date</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="text" id="date-picker" class="form-control"
                                                       placeholder="Select Date" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Start Time</label>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <input type="text" id="start-time-picker" class="form-control"
                                                       placeholder="Start Time" required>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <input type="text" id="end-time-picker" class="form-control"
                                                       placeholder="End Time" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Reason</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="text" id="reason" class="form-control"
                                                       placeholder="Reason">
                                            </div>
                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="~{components/fragments :: footer}"></div>
    </div>
</div>
<div th:replace="~{components/fragments :: js-libraries}"></div>
<script>
    flatpickr("#date-picker", {dateFormat: "Y-m-d"});
    flatpickr("#start-time-picker",
        {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i:S",
            enableSeconds: true,
            time_24hr: true
        });
    flatpickr("#end-time-picker", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i:S",
        enableSeconds: true,
        time_24hr: true
    });
</script>
<script>
    $(document).ready(function () {
        $("form.form-horizontal").on("submit", function (event) {
            event.preventDefault();
            var employeeId = $('#employee-picker').val();
            var date = $('#date-picker').val();
            var startTime = $('#start-time-picker').val();
            var endTime = $('#end-time-picker').val();
            var reason = $('#reason').val();
            if (!employeeId || !date || !startTime || !endTime) {
                alert("Please fill in all required fields!");
                return;
            }
            var otData = {
                employeeId: employeeId,
                date: date,
                startTime: startTime,
                endTime: endTime,
                reason: reason
            };
            $.ajax({
                url: '/v1/api/ot',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(otData),
                success: function (response) {
                    alert("OT registered successfully!");
                    location.reload();
                },
                error: function (error) {
                    console.log('Error:', error);
                    alert("There was an error registering the OT. Please try again.");
                }
            });
        });
    });
</script>
</body>

</html>
